.abilities-screen {
    background-color: #eeeeee;
    .header-abilities {
        text-align: center;
        .title-abilities{
            h1 {
                margin: auto;
                padding-top: 4rem; 
                font-size: 3rem;
            }
        }
        .description-abilities{
            p {
                margin: 4rem;
                font-size: 1.8rem;
            }
        }
    }
    .full-abilities{
        font-size: 1.3rem;
        display: flex;
        justify-content: center;
    }
}