.form {
    display: flex;
    justify-content: center;
    padding: 4rem;
    background-color: #eeeeee;
    .login {
        display: flex;
        flex-direction: column;
        align-items: center;
        .full-text-field {
            display: flex;
            margin: 0.3rem;
            .img-text-field {
                padding: 1rem;
                img {
                    height: 2.2rem;
                }
            }
            .data-text-field {
            }
        }
        .button {
            margin-bottom: 1rem; 
        }
        
    }
}
    

