.main {
    background-image: url(https://wallpapercave.com/wp/OaNyBm7.jpg);
    height: 90%;
    text-align: center;
    font-size: 2rem;
    color: #FFF;
    font-family: 'MedievalSharp', cursive;
    label {
        h1 {
            margin: 0 auto;
            padding: 1rem;
        }
    }
    section {
        margin: 4rem;
    }
}