.navbar {
    background-color: #2196f3;
    height: 9%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    nav {
        ul {
            display: flex;
            padding: 0px;
            justify-content: flex-start;
            li {
                list-style: none;
                margin-left: 1rem;
                padding: 10px 7px 10px 7px;
                transition: 0.5s;
                a {
                    color: #ffffff;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 1.2rem;
                }
            }
        }
    }
    .login-link {
        font-size: 1.2rem;
        text-transform: uppercase;
        margin-right: 2rem;
        padding-right: 20px; 
        a {
            display: flex;
            text-decoration: none;
            color: #ffffff;
            .login-name {
                padding-right: 10px; 
            }
            .login-img {
                img {
                    width: 25px;
                }
            }
        }
    }
}

li:hover {
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 15%;
}